.post {
    >.post-hero-image {
        height: var(--size-post-hero-image-height);
        overflow: hidden;
        padding: 0 var(--size-main-margin);
        >.post-title {
            &.top-layer {
                color: var(--color-white);
            }
        }
    }
    .post-title {
        font-size: var(--size-font-size-post-header);
        text-transform: uppercase;
        text-align: center;
        max-width: 900px;
        margin: var(--size-main-margin) auto;
    }
    >.main-wrapper {
        position: relative;
        overflow: hidden;
        margin-bottom: var(--size-margin-30);
        >.fade-in {
            margin: var(--size-margin-30) 0;
            >.go-to-tldr, >.back-to-top {
                text-transform: uppercase;
                cursor: pointer;
                transition: color 0.4s;
                position: relative;
                &:hover {
                    color: var(--color-yellow);
                }
                >.arrow-down, >.arrow-up {
                    position: absolute;
                    margin-left: var(--size-margin-10);
                }
            }
            >.go-to-tldr {
                >.arrow-down {
                    animation: arrow-down-animation 2s linear 0s infinite;
                }
            }
            >.back-to-top {
                >.arrow-up {
                    animation: arrow-up-animation 2s linear 0s infinite;
                }
            }
        }
    }
}

@keyframes arrow-up-animation {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes arrow-down-animation {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}