.about-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: flex-end;
    position: relative;
    >.figure-left, >.figure-right {
        position: absolute;
        height: var(--size-about-intro-figure-height);
        width: var(--size-about-intro-figure-width);
    }
    >.figure-left {
        background-color: darkcyan;
    }
    >.figure-right {
        background-color: palevioletred;
    }
}