.about-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: flex-end;
    position: relative;
    >.figure-left, >.figure-right {
        position: absolute;
        height: var(--size-about-intro-figure-height);
        width: var(--size-about-intro-figure-width);
    }
    >.figure-left {
        background-color: darkcyan;
        background-image: url(../../../../images/about/mark-dezoom.jpg);
        background-position: center;
        background-size: 100%;
    }
    >.figure-right {
        background-color: palevioletred;
        background-image: url(../../../../images/about/kim-anh-dezoom.jpg);
        background-position: center;
        background-size: 100%;
    }
}