.post-hero-image {
    height: var(--size-post-hero-image-height);
    overflow: hidden;
    padding: 0 var(--size-main-margin);
    >.post-title {
        &.top-layer {
            color: var(--color-white);
        }
    }
}