.post-title {
    font-size: var(--size-font-size-post-header);
    text-transform: uppercase;
    text-align: center;
    max-width: 900px;
    margin: var(--size-header-height) auto var(--size-main-margin);
}