.post {
    &.six {
        >.post-hero-image {
            background: url('images/hero-image.jpg') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .post-text {
            .button {
                &.size-button {
                    width: 100px;
                    >.button-container {
                        white-space: nowrap;
                    }
                }
            }
            .flex-row {
                &.button-line {
                    flex-wrap: wrap;
                    padding: 0 calc(var(--size-margin-10) * (-1));
                    margin-bottom: var(--size-margin-30);
                    >.fade-in {
                        margin: var(--size-margin-10);
                    }
                }
            }
            .drawing-icons-container {
                margin-bottom: var(--size-margin-30);
                >.flex-row {
                    &.button-line {
                        margin-bottom: 0;
                        >.icon-button {
                            height: 100%;
                            width: 100px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            cursor: pointer;
                            transition: filter .4s;
                            &.pokeball {
                                background-image: url(./images/pokeball-icon.png);
                                margin-right: var(--size-margin-30);
                            }
                            &.charmander {
                                background-image: url(./images/charmander-icon.png);
                                margin-right: var(--size-margin-30);
                            }
                            &.among-us {
                                background-image: url(./images/among-us-icon.png);
                                margin-right: var(--size-margin-30);
                            }
                            &.yoshi {
                                background-image: url(./images/yoshi-icon.png);
                            }
                            &.four {
                                background-image: url(./images/four-icon.png);
                            }
                            &.pikachu {
                                background-image: url(./images/pikachu-icon.png);
                            }
                            &.unselected {
                                filter: brightness(50%);
                            }
                            &:hover {
                                filter: brightness(100%);
                            }
                        }
                        &.icon-4, &.icon-8, &.icon-16 {
                            height: 0;
                            transition: height 1s;
                            &.active {
                                height: 100px;
                            }
                        }
                    }
                }
            }
            .game {
                margin: 0 auto;
                border: solid 1px var(--color-off-black);
                display: flex;
                flex-direction: column;
                >.game-row {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    >.game-cell {
                        border: solid 1px var(--color-off-black);
                        flex: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .post {
        &.six {
            .post-text {
                .game {
                }
            }
        }
    }
}
