.navigation-link {
    margin: var(--size-gutter);
    font-size: var(--size-font-size-navigation);
    display: table;
    position: relative;
    z-index: 0;
    &:hover {
        >.navigation-link-background {
            width: calc(100% + var(--size-margin-30));
            z-index: -1;
        }
    }
}