.compliment-details {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(60, 60, 65, 0.5);
    opacity: 0;
    display: none;
    align-items: center;
    >.compliment-details-content {
        >.compliment-details-title {
            font-size: var(--size-font-size-section-title);
            text-transform: uppercase;
        }
        >.compliment-details-hastag {
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-size: var(--size-font-size-small);
            margin-top: var(--size-margin-30);
        }
        >.compliment-details-title, >.compliment-details-text, >.compliment-details-hastag {
            opacity: 0;
        }
        margin: 0 auto;
        padding: var(--size-margin-30);
        color: var(--color-white);
        border: solid 2px var(--color-white);
        background: #2C3E50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2C3E50, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom right, #2C3E50 40%, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0;
        margin-top: 200vh;
        width: 0;
        height: 0;
        &.lawrencium {
            background: #0f0c29;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.celestial {
            background: #C33764;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.horizon {
            background: #003973;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.moonlit-asteroid {
            background: #0F2027;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.red-sunset {
            background: #355C7D;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.blu {
            background: #00416A;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        &.cherry-blossom {
            background: #FBD3E9;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
    &.active {
        pointer-events: unset;
        display: flex;
        animation: fade-in-animation 0.5s ease-in 0s forwards;
        z-index: 1;
        >.compliment-details-content {
            animation: compliment-details-content-animation 2s ease-in 0.5s forwards;
            >.compliment-details-title, >.compliment-details-text, >.compliment-details-hastag {
                animation: fade-in-animation 1s ease-in 2s forwards;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .compliment-details {
        width: 100%;
    }
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes compliment-details-content-animation {
    0% {
        opacity: 0;
        margin-top: 200vh;
        width: 0;
        height: 0;
    }
    25% {
        opacity: 1;
        margin-top: 0;
        width: 0;
        height: 0;
    }
    50% {
        opacity: 1;
        margin-top: 0;
        width: 60vw;
        height: 0;
    }
    85% {
        opacity: 1;
        margin-top: 0;
        width: 60vw;
        height: auto;
    }
    100% {
        opacity: 1;
        margin-top: 0;
        width: 60vw;
        height: auto;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}