.post {
    &.five {
        >.post-hero-image {
            background: url('images/hero-image.jpg') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .post-text {
            .button {
                &.demo-button {
                    width: var(--size-post-5-demo-button-width);
                    >.button-container {
                        white-space: nowrap;
                    }
                }
            }
            .flex-row {
                &.demo-button-line {
                    flex-wrap: wrap;
                    padding: 0 calc(var(--size-margin-10) * (-1));
                    >.fade-in {
                        margin: var(--size-margin-10);
                    }
                    &.example-2-buttons {
                        margin-top: var(--size-margin-30);
                    }
                }
            }
        }

        .example-1-consignes {
            position: relative;
            margin: var(--size-margin-30) 0 0;
            text-align: center;
            >.example-1-buttons-circle {
                position: relative;
                display: inline-block;
                >img {
                    height: 8rem;
                }
                >.example-1-buttons {
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 100%;
                    >.fade-in {
                        >.button {
                            width: 50px;
                        }
                    }
                    >.example-1-button-text {
                        margin-right: var(--size-margin-10);
                        white-space: nowrap;
                    }
                    >.example-1-button-column-number {
                        margin: 0 var(--size-margin-10);
                    }
                }
                >.example-1-message {
                    position: absolute;
                    font-family: Dawning;
                    font-size: 1.5rem;
                    transform: rotate(20deg);
                    top: calc(var(--size-margin-20) * (-1));
                    right: calc(var(--size-margin-50) * (-1));
                }
            }
        }
        
        .example-1 {
            display: flex;
            flex-direction: row;
            border: solid 1px var(--color-off-black);
            border-radius: 10px;
            margin: 0 auto;
            width: 80%;
            height: 400px;
            padding: 0 calc(var(--size-margin-10) * (-1));
            >.example-1-column {
                flex: 1;
                margin: 0 var(--size-margin-10);
                border: solid 1px var(--color-dark-green);
                border-radius: 10px;
                font-size: 3rem;
            }
        }

        .example-2 {
            display: flex;
            flex-direction: row;
            border: solid 1px var(--color-off-black);
            border-radius: 10px;
            margin: var(--size-margin-30) auto 0;
            width: 80%;
            padding: 0 calc(var(--size-margin-10) * (-1));
            flex-wrap: wrap;
            >.example-2-column {
                margin: 0 var(--size-margin-10) var(--size-margin-10);
                border: solid 1px var(--color-dark-green);
                border-radius: 10px;
                padding: var(--size-margin-10);
                >.number {
                    font-size: 3rem;
                }
            }
            &.flex {
                justify-content: center;
                >.example-2-column{
                    flex: 150px;
                }
            }
            &.width {
                >.example-2-column{
                    width: 150px;
                }
            }
        }

        .demo {
            border: solid 1px var(--color-off-black);
            border-radius: 10px;
            height: 40vw;
            width: 80%;
            display: flex;
            margin: var(--size-margin-30) auto 0;
            &.row {
                flex-direction: row;
            }
            &.column {
                flex-direction: column;
            }
            >.demo-child {
                border: solid 1px var(--color-dark-green);
                border-radius: 10px;
                font-size: 3rem;
                cursor: pointer;
                &.one {
                    width: 20%;
                    height: 25%;
                    background-color: var(--color-light-green);
                    color: var(--color-dark-green);
                }
                &.two {
                    width: 20%;
                    height: 40%;
                    background-color: var(--color-green);
                    color: var(--color-white);
                }
                &.three {
                    width: 30%;
                    height: 25%;
                    background-color: var(--color-dark-green);
                    color: var(--color-white);
                }
                >.demo-child-flex1 {
                    opacity: 0;
                    font-family: 'Hack';
                    font-size: 1rem;
                    transition: opacity .4s;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .post {
        &.five {
            .example-1-consignes {
                >.example-1-buttons-circle {
                    >.example-1-buttons {
                        >.example-1-button-text {
                            white-space: unset;
                        }
                    }
                    >.example-1-message {
                        top: calc(var(--size-margin-30) * (-1));
                        right: 0;
                    }
                }
            }
            .example-1 {
                height: 200px;
                width: calc(100% - 2px);
                >.example-1-column {
                    margin: 0 var(--size-margin-5);
                }
            }
            .example-2 {
                width: calc(100% - 2px);
                &.flex {
                    >.example-2-column {
                        flex: 80px;
                    }
                }
                &.width {
                    >.example-2-column {
                        width: 80px;
                    }
                }
            }
            .fade-in {
                .post-text {
                    .flex-row {
                        &.demo-button-line {
                            flex-direction: column;
                            margin-bottom: var(--size-margin-30);
                        }
                    }
                }
            }
            .demo {
                width: calc(100% - 2px);
                height: 100vw;
                >.demo-child {
                    font-size: 2rem;
                }
            }
        }
    }
}
