.next-post {
    max-width: 50%;
    >.fade-in {
        >.post-preview {
            margin-left: var(--size-main-margin);
        }
    }
}

@media screen and (max-width: 600px) {
    .next-posts {
        >.fade-in {
            >.post-preview {
                max-width: unset;
            }
        }
    }
}