.footer-social {
    height: var(--size-footer-social-height);
    width: var(--size-footer-social-height);
    display: inline-block;
    background-position: center;
    background-size: 100%;
    position: relative;
    z-index: 0;
    &.mail {
        background-image: url(../../../images/icon-mail.svg);
    }
    &.instagram {
        background-image: url(../../../images/icon-instagram.svg);
    }
    >a {
        height: var(--size-footer-social-height);
        width: var(--size-footer-social-height);
        display: block;
    }
    >.footer-social-background { 
        left: 0;
    }
    &:hover {
        >.footer-social-background { 
            width: calc(100%);
            z-index: -1;
        }
    }
}