.footer {
    height: var(--size-footer-height);
    background-color: var(--color-white);
    &.no-margin-top {
        >.fade-in {
            margin-top: 0;
        }
    }
    >.fade-in {
        >.main-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            >.footer-left, >.footer-right {
                flex: 1;
            }
            >.footer-right {
                text-align: right;
            }
            >.maki-logo-with-names {
                >.maki-logo {
                    width: var(--size-maki-logo-width);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        height: unset;
        >.fade-in {
            margin-bottom: 0;
            >.main-wrapper {
                flex-direction: column;
                >.footer-left, >.footer-right, >.footer-logo {
                    margin: var(--size-margin-10) 0; 
                }
            }
        }
    }
}
