.footer {
    height: var(--size-footer-height);
    background-color: var(--color-dark-green);
    color: var(--color-white);
    >.main-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        >.footer-left, >.footer-right {
            flex: 1;
        }
        >.footer-right {
            text-align: right;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        >.main-wrapper {
            flex-direction: column;
            >.footer-left, >.footer-right, >.footer-logo {
                margin: var(--size-margin-10) 0; 
            }
        }
    }
}
