.footer-social {
    height: var(--size-footer-social-height);
    width: var(--size-footer-social-height);
    display: inline-block;
    background-position: center;
    background-size: 100%;
    position: relative;
    z-index: 0;
    &.mail {
        background-image: url(../../../images/icon-mail.svg);
    }
    &.instagram {
        background-image: url(../../../images/icon-instagram.svg);
    }
    &.website {
        background-image: url(../../../images/icon-website.svg);
    }
    >a {
        height: var(--size-footer-social-height);
        width: var(--size-footer-social-height);
        display: block;
    }
    &:hover {
        >.footer-social-background { 
            width: calc(100%);
            z-index: -1;
            left: 0;
        }
        >.cross {
            opacity: 1;
            .bar-1 {
                animation: cross-bar 0.4s linear 0s forwards;
            }
            .bar-2 {
                animation: cross-bar 0.4s linear 0.5s forwards;
            }
        }
    }
}