.background-on-hover {
    position: absolute;
    bottom: 0;
    left: calc(var(--size-margin-30) / 2 * (-1));
    background-color: var(--color-grey);
    opacity: 0.5;
    width: 0;
    height: 50%;
    transition: width 0.6s;
}