.about {
    >.about-intro-fixed {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        >.header {
            width: 100vw;
        }
    }
    >.about-mark-and-kim-anh {
        position: absolute;
        padding-top: var(--size-about-scrollable-padding-top);
        >.fade-in {
            >.back-to-top {
                margin-left: var(--size-main-margin);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .about {
        >.about-intro-fixed {
            >.header {
                margin-bottom: 0;
            }
        }
        >.about-mark-and-kim-anh {
            >.fade-in {
                >.back-to-top {
                    margin: 0 auto;
                }
            }
        }
    }
}