.post {
    >.main-wrapper {
        position: relative;
        overflow: hidden;
        margin-bottom: var(--size-margin-30);
        >.header {
            position: absolute;
            top: 0;
            width: 100%;
            >.fade-in {
                >.main-wrapper {
                    margin: 0;
                }
                >.screen-detector-fade-in {
                    top: 230px;
                }
            }
        }
        >.fade-in {
            >.post-text {
                margin-bottom: var(--size-margin-80);
                line-height: 1.5;
                a {
                    &:hover {
                        color: var(--color-yellow);
                    }
                }
                .italic {
                    font-style: italic;
                }
                >.step-title {
                    font-size: var(--size-font-size-preview-title);
                }
                >.p-separator {
                    height: 1rem;
                }
                >.section-separator {
                    height: 2rem;
                }
                >.code-sample {
                    background-color: #1c1e21;
                    border: 1px solid #8d949e;
                    color: var(--color-white);
                    padding: 10px;
                    margin: 20px 0;
                    font-family: 'Hack';
                    .color-vs-dark-blue {
                        color: var(--color-vs-dark-blue);
                    }
                    .color-vs-light-blue {
                        color: var(--color-vs-light-blue);
                    }
                    .color-vs-light-orange {
                        color: var(--color-vs-light-orange);
                    }
                    .color-vs-orange {
                        color: var(--color-vs-orange);
                    }
                    .color-vs-yellow {
                        color: var(--color-vs-yellow);
                    }
                    .color-vs-green {
                        color: var(--color-vs-green);
                    }
                    .color-vs-light-green {
                        color: var(--color-vs-light-green);
                    }
                    .color-vs-purple {
                        color: var(--color-vs-purple);
                    }
                    .color-vs-grey {
                        color: var(--color-vs-grey);
                    }
                }
                .color-green {
                    color: var(--color-green);
                }
                .color-fluo-green {
                    color: var(--color-fluo-green);
                }
                .color-fluo-blue {
                    color: var(--color-fluo-blue);
                }
                .nbsp {
                    margin-right: var(--size-margin-20);
                }
                .font-size-big {
                    font-size: var(--size-font-size-post-header);
                }
                .code-element {
                    font-family: 'Hack';
                    background-color: var(--color-very-light-yellow);
                }
                .code-title {
                    font-family: 'Hack';
                    background-color: var(--color-very-light-yellow);
                    font-size: var(--size-font-size-preview-title);
                }
                img {
                    max-width: 100%;
                    margin: var(--size-margin-20) 0 var(--size-margin-30);
                    &.width-50 {
                        width: 50%;
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .flex-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .flex-column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .cursor-pointer {
                    cursor: pointer;
                    &:hover {
                        color: var(--color-yellow);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .post {
        >.main-wrapper {
            >.fade-in {
                >.post-text {
                    >img {
                        &.width-50 {
                            width: unset;
                        }
                    }
                }
            }
        }
    }
}