.post-preview {
    >.image {
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url(../../Article/1/images/hero-image.jpg);
    }
}