.post-preview {
    flex: 1;
    margin: var(--size-gutter);
    >.image {
        width: 100%;
        >img {
            width: 100%;
        }
    }
    >.text {
        background-color: var(--color-white);
        left: var(--size-margin-30);
        top: calc(var(--size-margin-60) * (-1));
        position: relative;
        width: calc(100% - var(--size-margin-30) - 2 * var(--size-margin-10));
        padding: var(--size-margin-10);
        text-align: center;
        >.date {
            text-align: right;
            font-size: var(--size-font-size-small);
        }
        >.title {
            text-transform: uppercase;
            font-size: var(--size-font-size-preview-title);
            margin: var(--size-margin-10) 0;
        }
        >.categories, >.title {
            text-align: left;
        }
        >.zig-zag {
            margin-top: var(--size-margin-30);
        }
    }
}