.section-header {
    text-align: center;
    font-weight: normal;
    font-size: var(--size-font-size-section-title);
    &.color-white {
        >.section-header-title {
            >.down, >.up {
                >.moving {
                    color: var(--color-white);
                }
            }
        }
        >.section-header-subtitle {
            >.section-header-subtitle-text {
                color: var(--color-white);
            }
        }
    }
    &.animate {
        >.section-header-title {
            >.down {
                >.moving {
                    animation: section-header-title-down-animation 0.3s linear 0.5s forwards;
                }
            }
            >.up {
                >.moving {
                    animation: section-header-title-up-animation 0.3s linear 0.5s forwards;
                }
            }
        }
        >.section-header-subtitle {
            >.section-header-subtitle-text {
                animation: section-header-subtitle-animation 0.4s linear 1s forwards;
            }
        }
    }
    >.section-header-title {
        text-transform: uppercase;
        position: relative;
        height: var(--size-section-header-title-height);
        overflow: hidden;
        >.down, >.up {
            color: transparent;
            position: relative;
            >.moving {
                position: absolute;
                left: 0;
                height: var(--size-section-header-title-height);
                width: 100%;
                color: var(--color-off-black);
            }
        }
        >.down {
            >.moving {
                top: -100%;
            }
        }
        >.up {
            >.moving {
                top: 100%;
            }
        }
    }
    >.section-header-subtitle {
        font-family: Dawning;
        margin-left: var(--size-section-header-subtitle-margin-left);
        margin-top: var(--size-section-header-subtitle-margin-top);
        position: relative;
        height: var(--size-section-header-subtitle-height);
        overflow: hidden;
        >.section-header-subtitle-text {
            position: absolute;
            top: 0;
            left: -100%;
            height: var(--size-section-header-subtitle-height);
        }
    }
}

@keyframes section-header-title-up-animation {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}

@keyframes section-header-title-down-animation {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes section-header-subtitle-animation {
    0% {
        left: -100%;
    }
    100% {
        left: var(--size-section-header-subtitle-margin-left-animation);
    }
}

@media screen and (max-width: 600px) {
    .section-header {
        >.section-header-subtitle {
            text-align: center;
            >.section-header-subtitle-text {
                width: 100%;
            }
        }
    }
}