@import './colors.scss';
@import './sizes.scss';
@import './fonts.scss';

.App {
    font-family: AnticDidone;
    background-color: var(--color-white);
    color: var(--color-off-black);
    .main-wrapper {
        margin: 0 var(--size-main-margin);
    }
}
