@import './colors.scss';
@import './sizes.scss';
@import './fonts.scss';

.App {
    font-family: AnticDidone;
    background-color: var(--color-white);
    color: var(--color-black);
    .main-wrapper {
        margin: 0 var(--size-main-margin);
        max-width: var(--size-main-wrapper-max-width);
    }
    a {
        color: var(--color-black);
        text-decoration: none;
    }
    h1, h2, h3, h4, h5 {
        font-weight: normal;
        font-size: unset;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@media screen and (min-width: 1540px) {
    .App {
        .main-wrapper {
            margin: 0 auto;
        }
    }
}