:root{
    --color-white: #feffff;
    --color-grey: rgb(235, 235, 235);
    --color-yellow: #edc041;
    --color-light-yellow: #F8E6B4;
    --color-very-light-yellow: #f7eed7; 
    --color-yellow-transparent: rgba(237, 192, 65, 0.5);
    --color-dark-green: darkslategray;
    --color-green: #6b8585;
    --color-light-green: #68888873;
    --color-fluo-green: #8fdc33;
    --color-fluo-blue: #60c2ee;
    --color-off-black: rgb(60, 60, 65);

    // VS colors
    --color-vs-dark-blue: rgb(86, 156, 214);
    --color-vs-light-blue: rgb(152, 214, 246);
    --color-vs-light-orange: rgb(215, 186 , 125);
    --color-vs-orange: rgb(206, 145, 120);
    --color-vs-yellow: rgb(219, 219, 169);
    --color-vs-green: rgb(78, 201, 176);
    --color-vs-light-green: rgb(181, 206, 168);
    --color-vs-purple: rgb(197, 134, 192);
    --color-vs-grey: rgb(128, 128, 128);
}