:root{
    --color-white: #feffff;
    --color-grey: rgb(235, 235, 235);
    --color-yellow: #edc041;
    --color-yellow-transparent: rgba(237, 192, 65, 0.5);
    --color-dark-green: darkslategray;
    --color-off-black: rgb(60, 60, 65);
}