:root{
    --color-white: #feffff;
    --color-grey: rgb(235, 235, 235);
    --color-yellow: #edc041;
    --color-light-yellow : #F8E6B4;
    --color-yellow-transparent: rgba(237, 192, 65, 0.5);
    --color-dark-green: darkslategray;
    --color-green: #508686;
    --color-fluo-green: #8fdc33;
    --color-fluo-blue: #60c2ee;
    --color-off-black: rgb(60, 60, 65);
}