@font-face {
    font-family: AnticDidone;
    font-display: swap;
    src: url('./fonts/AnticDidone-Regular.woff') format('woff'),
         url('./fonts/AnticDidone-Regular.ttf') format('truetype');
}