:root{

    // FONT-SIZES
    --size-font-size-post-header: 80px;
    --size-font-size-section-title: 60px;
    --size-font-size-preview-title: 24px;
    --size-font-size-navigation: 18px;
    --size-font-size-small: 12px;

    // MARGINS
    --size-margin-80: 80px;
    --size-main-margin: 70px;
    --size-margin-60: 60px;
    --size-margin-50: 50px;
    --size-margin-30: 30px;
    --size-margin-20: 20px;
    --size-margin-10: 10px;
    --size-margin-5: 5px;

    // HEADER
    --size-maki-logo-width: 140px;
    --size-maki-logo-subtitle-margin-top: -15px;
    --size-header-height: 200px;
    --size-navigation-height: 24px;

    // HOME
    --size-intro-max-width: 550px;
    --size-double-gradient-height: 300px;

    // SECTION HEADER
    --size-section-header-subtitle-margin-left: 50%;
    --size-section-header-subtitle-margin-left-animation: 10px;
    --size-section-header-subtitle-margin-top: -40px;
    --size-section-header-title-height: 71px;
    --size-section-header-subtitle-height: 96px;
    --size-section-header-subtitle-width: 255px;

    // FOOTER
    --size-footer-height: 150px;
    --size-footer-social-height: 40px;

    --size-main-wrapper-max-width: 1400px;
    --size-gutter: 20px;

    // POST
    --size-post-hero-image-height: 110vh;
    --size-post-button-width: 180px;
    --size-post-button-margin: 3px;

    // POST PREVIEW
    --size-zig-zag-height: 10px;

    --size-blog-categories-max-width: 500px;

    // INSTAGRAM
    --size-insta-banner-height: 350px;
    --size-insta-photo-height: 200px;

    // ABOUT
    --size-about-maki-initial-top: 120vh;
    --size-about-maki-manh-initial-position: 70px;
    --size-about-intro-figure-height: 60vh;
    --size-about-intro-figure-width: 30vh;
    --size-about-photo-height: 74vh;
    --size-about-photo-text-offset: 20px;
    --size-about-photo-corner-height: 100px;
    --size-about-background-transition-height: 90vh;
    --size-about-scrollable-padding-top: 100px;
    --size-about-intro-maki-font-size: 60px;
    --size-about-intro-scrollable-font-size: 30px;

    // PROGRESSION BAR
    --size-progression-bar-height: 10px;
}

@media screen and (max-width: 600px) {
    :root {
        // FONT SIZES
        --size-font-size-post-header: 40px;
        --size-font-size-section-title: 28px;

        --size-main-margin: 30px;

        --size-header-height: 330px;

        // SECTION HEADER
        --size-section-header-title-height: 33px;
        --size-section-header-subtitle-margin-top: -20px;
        --size-section-header-subtitle-margin-left: 0;
        --size-section-header-subtitle-margin-left-animation: 0;

        --size-footer-height: 220px;

        --size-gutter: 10px;

        // ABOUT
        --size-about-intro-maki-font-size: 40px;
        --size-about-intro-scrollable-font-size: 20px;
        --size-about-maki-manh-initial-position: 10px;
    }
}