:root{

    // FONT-SIZES
    --size-font-size-article-header: 80px;
    --size-font-size-section-title: 60px;
    --size-font-size-preview-title: 24px;
    --size-font-size-navigation: 18px;
    --size-font-size-small: 12px;

    // MARGINS
    --size-main-margin: 70px;
    --size-margin-60: 60px;
    --size-margin-30: 30px;
    --size-margin-20: 20px;
    --size-margin-10: 10px;
    --size-margin-5: 5px;

    // HEADER
    --size-maki-logo-width: 140px;
    --size-maki-logo-subtitle-margin-top: -15px;

    // SECTION HEADER
    --size-section-header-subtitle-margin-left: 50%;
    --size-section-header-subtitle-margin-top: -40px;
    --size-section-header-title-height: 71px;
    --size-section-header-subtitle-height: 96px;
    --size-section-header-subtitle-width: 255px;

    // FOOTER
    --size-footer-height: 150px;
    --size-footer-social-height: 40px;

    --size-main-wrapper-max-width: 1400px;
    --size-gutter: 20px;
    --size-article-hero-image-height: 110vh;
    --size-zig-zag-height: 10px;

    --size-blog-categories-max-width: 500px;
}

@media screen and (max-width: 600px) {
    :root{
        --size-font-size-article-header: 40px;

        --size-main-margin: 30px;

        --size-section-header-subtitle-margin-left: 0px;

        --size-footer-height: 220px;

        --size-gutter: 10px;
    }
}