.intro {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: var(--size-intro-max-width);
    font-size: var(--size-font-size-navigation);
    color: var(--color-white);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2), 
                1px -1px 0 rgba(0, 0, 0, 0.2), 
                -1px 1px 0 rgba(0, 0, 0, 0.2), 
                1px 1px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 2s;
    &.active {
        opacity: 1;
    }
}


@media screen and (max-width: 600px) {
    .intro {
        margin: 0 var(--size-main-margin);
    }
}