.intro {
    position: relative;
    >.intro-picture {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
    }
    >.intro-text {
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        max-width: var(--size-intro-max-width);
        font-size: var(--size-font-size-navigation);
    }
}